
@{
    ViewData["Title"] = "Registro_Compra";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulario de Registro de Compras con Bulma</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="box">
                        <h1 class="title has-text-centered">Registrar Nueva Compra</h1>
                        <form>

                            <div class="field">
                                <label class="label">Artículo</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Articulo">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Precio</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="number" step="0.01" placeholder="0.00">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-dollar-sign"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Usuario</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" placeholder="Nombre de usuario quien compra">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Fecha de Compra</label>
                                <div class="control">
                                    <input class="input" type="date">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Periodo de Pago</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select>
                                            <option>Seleccionar periodo</option>
                                            <option>1 mes</option>
                                            <option>3 meses</option>
                                            <option>6 meses</option>
                                            <option>9 meses</option>
                                            <option>12 meses</option>
                                            <option>15 meses</option>
                                            <option>18 meses</option>
                                            <option>20 meses</option>
                                            <option>Pago Único</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Folio de Ticket</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Ej: A-12345678">
                                </div>
                            </div>

                            <div class="field is-grouped is-grouped-centered">
                                <div class="control">
                                    <button class="button is-primary">Registrar Compra</button>
                                </div>
                                <div class="control">
                                    <button class="button is-light">Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="nombre" value="@Context.Session.GetString("nombre")" />
        <script src="~/js/roles.js" asp-append-version="true"></script>
    </section>
</body>
</html>

